@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    body {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /* footer ul {
        --tw-space-x-reverse: 0;
        margin-right: 0;
        margin-left: 0;
    } */
    
}